[Unit]
Description=Servicio de la API de Gestión Almacén
Requires=gestionalmacen.socket
After=network.target

[Service]
User=www-usuario
Group=www-data
WorkingDirectory=/var/www/html/gestion_almacen
ExecStart=/var/www/html/gestion_almacen/.venv/bin/gunicorn \
        --access-logfile - \
        --workers 3 \
        --bind unix:/run/gestion_almacen.sock \
        configuracion.wsgi:application

[Install]
WantedBy=multi-user.target
